body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: #e2e8f0;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #111827;
    position: relative;
    z-index: 1000;
}
nav button {
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    background: #6366f1;
    color: white;
    cursor: pointer;
}

/* CONTAINER */

.container {
    padding: 40px;
}


/* HEADER */

.typing-text {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}


/* CARD */

.card {
    background: #1e293b;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
}

#vehicleContainer{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}


/* INPUT */

input,
select {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border-radius: 15px;
    border: none;
    background: #0f172a;
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* DATE INPUT TEXT COLOR */

input[type="date"]{
    color:#e2e8f0;
}


/* BUTTON */

button {
    padding: 12px 18px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background: #6366f1;
    color: white;
}


/* VEHICLE CARD */

.vehicle-card{
    background:#0f172a;
    padding:20px;
    margin-top:15px;
    border-radius:20px;
    width:260px;
    text-align:center;
}


/* TEXT SIDE */

.vehicle-info{
    text-align: left;
}


/* CAR LOGO */

.car-logo{
    width:110px;
    height:110px;
    object-fit:contain;
    margin-bottom:10px;
}


/* LOGIN PAGE */

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #1e293b;
    padding: 40px;
    width: 350px;
    border-radius: 30px;
    text-align: center;
}